<button type='submit' class='btn btn-sm btn-success'><i class='icon-ok'></i> Save</button>
<input name="userid" type="hidden" value="$!obj.userid">
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名： </label>
    <div class="col-sm-9">
        <input name="realname" type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" value="$!obj.realname" />
    </div>
</div>
<div class="space-4"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 原密码： </label>

    <div class="col-sm-9">
        <input name="oldpassword" type="password" id="form-field-2" placeholder="Password" class="col-xs-10 col-sm-5" />
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">Inline help text</span>
											</span>
    </div>
</div>
<div class="space-4"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 新密码： </label>

    <div class="col-sm-9">
        <input name="newpassword" type="password" id="form-field-3" placeholder="Password" class="col-xs-10 col-sm-5" />
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">Inline help text</span>
											</span>
    </div>
</div>
<div class="space-4"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 再输一次： </label>

    <div class="col-sm-9">
        <input name="newspassword2" type="password" id="form-field-4" placeholder="Password" class="col-xs-10 col-sm-5" />
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">Inline help text</span>
											</span>
    </div>
</div>