<input name="userid" value="$!obj.userid" type="hidden">
<div class="tabbable" id="user-profile-3">
    <ul class="nav nav-tabs padding-16">
        <li class="active">
            <a data-toggle="tab" href="#edit-basic">
                <i class="green icon-edit bigger-125"></i>
                基本信息
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#edit-password">
                <i class="blue icon-key bigger-125"></i>
                修改密码
            </a>
        </li>
    </ul>

    <div class="tab-content profile-edit-tab-content">
        <div id="edit-basic" class="tab-pane in active">
            <h4 class="header blue bolder smaller">General</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <span class="profile-picture">

                    <img id="avatar" class="editable img-responsive editable-click editable-empty" alt="$!obj.realname的头像"
                         src="${base}/themes/ace/assets/avatars/profile-pic.jpg"/>
                    </span>
                </div>

                <div class="vspace-xs"></div>

                <div class="col-xs-12 col-sm-8">
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               for="form-field-username">用户名</label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-10" type="text" id="form-field-username"
                                   placeholder="Username" value="$!obj.loginname" readonly/>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">姓名</label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-10" type="text" id="form-field-first" placeholder="Name"
                                   value="$!obj.realname"/>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Birth Date</label>

                <div class="col-sm-9">
                    <div class="input-medium">
                        <div class="input-group">
                            <input class="input-medium date-picker" id="form-field-date" type="text"
                                   data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy"/>
																			<span class="input-group-addon">
																				<i class="icon-calendar"></i>
																			</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Gender</label>

                <div class="col-sm-9">
                    <label class="inline">
                        <input name="form-field-radio" type="radio" class="ace"/>
                        <span class="lbl"> Male</span>
                    </label>

                    &nbsp; &nbsp; &nbsp;
                    <label class="inline">
                        <input name="form-field-radio" type="radio" class="ace"/>
                        <span class="lbl"> Female</span>
                    </label>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-comment">Comment</label>

                <div class="col-sm-9">
                    <textarea id="form-field-comment"></textarea>
                </div>
            </div>

            <div class="space"></div>
            <h4 class="header blue bolder smaller">Contact</h4>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-email">Email</label>

                <div class="col-sm-9">
																	<span class="input-icon input-icon-right">
																		<input type="email" id="form-field-email"
                                                                               value="alexdoe@gmail.com"/>
																		<i class="icon-envelope"></i>
																	</span>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-website">Website</label>

                <div class="col-sm-9">
																	<span class="input-icon input-icon-right">
																		<input type="url" id="form-field-website"
                                                                               value="http://www.alexdoe.com/"/>
																		<i class="icon-globe"></i>
																	</span>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-phone">Phone</label>

                <div class="col-sm-9">
																	<span class="input-icon input-icon-right">
																		<input class="input-medium input-mask-phone"
                                                                               type="text" id="form-field-phone"/>
																		<i class="icon-phone icon-flip-horizontal"></i>
																	</span>
                </div>
            </div>

            <div class="space"></div>
            <h4 class="header blue bolder smaller">Social</h4>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-facebook">Facebook</label>

                <div class="col-sm-9">
																	<span class="input-icon">
																		<input type="text" value="facebook_alexdoe"
                                                                               id="form-field-facebook"/>
																		<i class="icon-facebook blue"></i>
																	</span>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-twitter">Twitter</label>

                <div class="col-sm-9">
																	<span class="input-icon">
																		<input type="text" value="twitter_alexdoe"
                                                                               id="form-field-twitter"/>
																		<i class="icon-twitter light-blue"></i>
																	</span>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-gplus">Google+</label>

                <div class="col-sm-9">
																	<span class="input-icon">
																		<input type="text" value="google_alexdoe"
                                                                               id="form-field-gplus"/>
																		<i class="icon-google-plus red"></i>
																	</span>
                </div>
            </div>
        </div>


        <div id="edit-password" class="tab-pane">
            <div class="space-10"></div>


            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-right" for="form-field-pass3">原密码</label>

                <div class="col-sm-9">
                    <input type="password" id="form-field-pass3" name="oldpassword"/>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-right" for="form-field-pass1">新密码</label>

                <div class="col-sm-9">
                    <input type="password" name="password" id="form-field-pass1"/>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-right" for="form-field-pass2">确认新密码</label>

                <div class="col-sm-9">
                    <input type="password" name="password2" id="form-field-pass2"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    jQuery(function($) {
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editableform.loading = "<div class='editableform-loading'><i class='light-blue icon-2x icon-spinner icon-spin'></i></div>";
        $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="icon-ok icon-white"></i></button>'+
                '<button type="button" class="btn editable-cancel"><i class="icon-remove"></i></button>';
        // *** editable avatar *** //
        try {//ie8 throws some harmless exception, so let's catch it

            //it seems that editable plugin calls appendChild, and as Image doesn't have it, it causes errors on IE at unpredicted points
            //so let's have a fake appendChild for it!
            if( /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ) Image.prototype.appendChild = function(el){}

            var last_gritter
            $('#avatar').editable({
                type: 'image',
                name: 'avatar',
                value: null,
                image: {
                    //specify ace file input plugin's options here
                    btn_choose: '更换头像',
                    droppable: true,
                    /**
                     //this will override the default before_change that only accepts image files
                     before_change: function(files, dropped) {
								return true;
							},
                     */

                    //and a few extra ones here
                    name: 'avatar',//put the field name here as well, will be used inside the custom plugin
                    max_size: 220000,//~100Kb
                    on_error : function(code) {//on_error function will be called when the selected file has a problem
                        if(last_gritter) $.gritter.remove(last_gritter);
                        if(code == 1) {//file format error
                            last_gritter = $.gritter.add({
                                title: '文件类型错误',
                                text: '请选择图片文件：jpg|gif|png image!',
                                class_name: 'gritter-error gritter-center',
                                time:600
                            });
                        } else if(code == 2) {//file size rror
                            last_gritter = $.gritter.add({
                                title: '图片过大',
                                text: '请上传200Kb以内的图片',
                                class_name: 'gritter-error gritter-center'
                            });
                        }
                        else {//other error
                        }
                    },
                    on_success : function() {
                        $.gritter.removeAll();
                    }
                },
                url: function(params) {
                    // ***UPDATE AVATAR HERE*** //
                    //You can replace the contents of this function with examples/profile-avatar-update.js for actual upload


                    var deferred = new $.Deferred

                    //if value is empty, means no valid files were selected
                    //but it may still be submitted by the plugin, because "" (empty string) is different from previous non-empty value whatever it was
                    //so we return just here to prevent problems
                    var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
                    if(!value || value.length == 0) {
                        deferred.resolve();
                        return deferred.promise();
                    }


                    //dummy upload
                    setTimeout(function(){
                        if("FileReader" in window) {
                            //for browsers that have a thumbnail of selected image
                            var thumb = $('#avatar').next().find('img').data('thumb');
                            if(thumb) $('#avatar').get(0).src = thumb;
                        }

                        deferred.resolve({'status':'OK'});

                        if(last_gritter) $.gritter.remove(last_gritter);
                        last_gritter = $.gritter.add({
                            title: 'Avatar Updated!',
                            text: 'Uploading to server can be easily implemented. A working example is included with the template.',
                            class_name: 'gritter-info gritter-center'
                        });

                    } , parseInt(Math.random() * 800 + 800))

                    return deferred.promise();
                },

                success: function(response, newValue) {
                }
            })
        }catch(e) {}


    });
</script>