<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>

    <title>$!app_name</title>
     
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="${base}/include/css/msg.css" rel="stylesheet" type="text/css"/>
    <link href="${base}/include/css/default.css" rel="stylesheet" type="text/css"/>
    <link href="${base}/include/css/cms.css" rel="stylesheet" type="text/css"/>
	<script type='text/javascript'>
		var CONTEXTPATH = '${base}';
	</script>
    <script src="${base}/include/js/main.js"></script>
    <script src="${base}/include/js/string.js"></script>
    <script src="${base}/include/controls/uploadify/jquery.uploadify.min.js"></script>

    <script type="text/javascript">
        function getTvinfo(){
            jQuery.ajax({
                type: 'POST',
                url : "${base}/private/tv/show/view",
                data : {"id":$!obj.push_tv},
                success : function (res) {
                    var json = jQuery.parseJSON(res);
                    $("#tv").html(json.play_name);
                    return false;
                },
                fail : function(res) {
                    Dialog.alert("系统错误?!");
                }
            });
        }
        function getCity(id,zipcode){
            if(zipcode==""){
                return;
            }
            jQuery.ajax({
                type: 'POST',
                url : "${base}/private/wx/push/getOneCity" ,
                data : {"zipcode":zipcode},
                success : function (res) {
                    $("#"+id).html(res);
                    return false;
                },
                fail : function(res) {
                    Dialog.alert("系统错误?!");
                }
            });
        }
        Page.onLoad(function(){
            #if("$!obj.push_type"=="1")
                getTvinfo();
            #end
            getCity("province","$!obj.push_province");
            getCity("city","$!obj.push_city");
        });
    </script>
</head>
<body class="dialogBody" >
<form name='form1' id="form1" method='post'>
    <input type="hidden" name="pid" id="pid" value="$!pid">
    <input type="hidden" name="id" id="id" value="$!obj.id">
       <table width="100%" height="100%" align="left" cellpadding="0" cellspacing="0">
        <tr>
            <td height="2">
                    <div class="z-toolbar" id="Toolbar">
                        <div class="z-toolbar-ct">
                            <div class="z-toolbar-overflow">
                                <div class="z-toolbar-nowrap" id="Toolbar_body" style="float: left">

                                    <div style="width: 600px;">接口帐号:

                                    #foreach($o in $applist)
                                    <input name="appid" type="radio" value="$!o.id" #if($obj.appid==$o.id)checked#end>$!o.name
                                    #end
                                    </div>
                                </div></div></div></div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td width="100%" valign="top" align="center">
            <div id="_DivContainer" style="overflow: auto; width: 100%; position: relative; height: 350px;">
                <div id="tab_1">


                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="80" height="25" align="right">群发名称：</td>
                                <td>
                                    $!obj.push_name
                                </td>
                            </tr>
                            <tr>
                                <td height="25" align="right">消息类型：</td>
                                <td>
                                    #if("$!obj.type"=="mpnews")
                                        图文
                                    #elseif("$!obj.type"=="text")
                                       文本
                                    #elseif("$!obj.type"=="voice")
                                       语音
                                    #elseif("$!obj.type"=="image")
                                       图片
                                    #elseif("$!obj.type"=="mpvideo")
                                       视频
                                    #end
                                </td>
                            </tr>
                             #if("$!obj.type"=="mpvideo")
                            <tr >
                                <td height="25" align="right">视频标题：</td>
                                <td>
                                    $!obj.push_title
                                </td>
                            </tr>
                            <tr>
                                <td height="25" align="right">视频描述：</td>
                                <td>
                                    $!obj.push_description
                                </td>
                            </tr>
                            #end
                            <tr>
                                <td height="25" align="right">群发对象：</td>
                                <td>
                                    #if("$!obj.push_type"=="0")
                                    全部用户
                                    #elseif("$!obj.push_type"=="1")
                                    节目用户
                                    #elseif("$!obj.push_type"=="2")
                                    条件选择
                                    #elseif("$!obj.push_type"=="3")
                                    用户列表
                                    #end
                                </td>
                            </tr>
                            #if("$!obj.push_type"=="1")
                            <tr>
                                <td width="80" height="25" align="right">节目期数：</td>
                                <td>
                                    <span id="tv"></span>
                                </td>
                            </tr>

                            #end
                            #if("$!obj.push_type"=="2")
                            <tr>
                                <td height="25" align="right">宝贝生日：</td>
                                <td>
                                    #if($obj.push_birthday) $!obj.push_birthday #else 无 #end
                                </td>
                            </tr>
                            <tr>
                                <td height="25" align="right">宝贝年龄：</td>
                                <td>
                                    #if($obj.push_age) $!obj.push_age #else 无 #end
                                </td>
                            </tr>
                            <tr>
                                <td height="25" align="right">宝贝性别：</td>
                                <td>
                                    #if("$!obj.push_sex"=="0")
                                    全部
                                    #elseif("$!obj.push_sex"=="1")
                                    男
                                    #elseif("$!obj.push_sex"=="2")
                                    女
                                    #end
                                </td>
                            </tr>
                            <tr >
                                <td width="80" height="25" align="right">所在省份：</td>
                                <td>
                                    <span id="province">无</span>
                                </td>
                            </tr>
                            <tr>
                                <td width="80" height="25" align="right">所在城市：</td>
                                <td>
                                    <span id="city">无</span>
                                </td>
                            </tr>
                            #end
                            #if("$!obj.push_type"=="3")
                            <tr>
                                <td width="80" height="25" align="right">用户列表：</td>
                                <td>
                                    $!obj.openids
                                </td>
                            </tr>
                            #end

                        </table> 
                </div>
                <div>
                   <br>
                    <table width="90%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>页数</td>
                            <td>本页用户数</td>
                            <td>发送状态</td>
                            <td>错误信息</td>
                            <td>反馈结果</td>
                            <td>反馈时间</td>
                            <td>用户数</td>
                            <td>有效数</td>
                            <td>成功数</td>
                            <td>失败数</td>
                        </tr>
                        #foreach($o in $list)
                        <tr>
                            <td>$!o.pagenum</td>
                            <td>$!o.total</td>
                            <td>
                                #if($o.status==0)
                                待推送
                                #elseif($o.status==1)
                                推送成功
                                #elseif($o.status==2)
                                推送失败
                                #end
                            </td>
                            <td>$!o.errmsg</td>
                            <td>$!o.res_status</td>
                            <td>$!o.res_createtime</td>
                            <td>$!o.res_totalcount</td>
                            <td>$!o.res_filtercount</td>
                            <td>$!o.res_sentcount</td>
                            <td>$!o.res_errorcount</td>
                        </tr>
                        #end
                    </table>
                </div>
            </div>
            </td>
            </tr>
            </table>
      </form>

</body>
</html>