<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>${app_name}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- basic styles -->
    <link href="${base}/themes/ace/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="${base}/themes/ace/assets/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="${base}/themes/ace/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300"/>
    <!-- ace styles -->
    <link rel="stylesheet" href="${base}/themes/ace/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="${base}/themes/ace/assets/css/ace-rtl.min.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="${base}/themes/ace/assets/css/ace-ie.min.css"/>
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="${base}/themes/ace/assets/js/html5shiv.js"></script>
    <script src="${base}/themes/ace/assets/js/respond.min.js"></script>
    <![endif]-->
    <script language="JavaScript">
        var APP_BASE="${base}";
    </script>
</head>

<body class="login-layout">
<div class="main-container">
<div class="main-content">
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<div class="login-container">
<div class="center">
    <h1>
        <i class="icon-leaf green"></i>
        <span class="red">${app_name}</span>
        <span class="white">开源微信平台</span>
    </h1>
    <h4 class="blue">&copy; <a href="http://nutzwx.com" target="_blank">NutzWx</a> </h4>
</div>
<div class="space-6"></div>
<div class="position-relative">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger"><i class="icon-coffee green"></i></h4>
                <div class="space-6"></div>
                <form id="login-form">
                    <fieldset>
                        <label class="block clearfix">
							<span class="block input-icon input-icon-right">
								<input type="text" class="form-control" placeholder="Username" id="username" name="username"/>
								<i class="icon-user"></i>
							</span>
                        </label>
                        <label class="block clearfix">
							<span class="block input-icon input-icon-right">
								<input type="password" class="form-control" placeholder="Password" id="password" name="password"/>
								<i class="icon-lock"></i>
							</span>
                        </label>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <img src="${base}/captcha" name="captchaid" id="captchaid" title="点击刷新验证码" align="middle" style="cursor:pointer;position:absolute;left:0;height:34px;padding-top:1px;"
                                     data-rel="tooltip" data-placement="bottom" />
                                <input style="padding-left: 92px;text-transform: uppercase;" type="text" name="captcha" id="captcha" class="form-control" placeholder="Captcha" />
                                <i class="icon-tint"></i>
                            </span>
                        </label>

                        <div class="space"></div>
                        <div class="clearfix">
                            <label class="inline">
                                <input type="checkbox" class="ace" id="rememberMe" name="rememberMe"/>
                                <span class="lbl"> 自动登陆</span>
                            </label>
                            <span id="spin-container"></span>
                            <button id="btn-submit" type="button" class="width-35 pull-right btn btn-sm btn-primary">
                                <i class="icon-key"></i>   登陆 </button>
                        </div>
                        <div class="space-4"></div>
                    </fieldset>
                </form>
            </div>
            <!-- /widget-main -->
        </div>
        <!-- /widget-body -->
    </div>
    <!-- /login-box -->
</div>
<!-- /position-relative -->
</div>
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>
</div>
<!-- /.main-container -->
<!-- basic scripts -->
<!--[if !IE]> -->
<script src="${base}/themes/ace/assets/js/jquery-2.0.3.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="${base}/themes/ace/assets/js/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='${base}/themes/ace/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='${base}/themes/ace/assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='${base}/themes/ace/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script type="text/javascript" src="${base}/themes/ace/assets/js/spin.min.js"></script>
<script type="text/javascript" src="${base}/themes/ace/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${base}/themes/ace/assets/js/bootbox.min.js"></script>
<script type="text/javascript" src="${base}/themes/ace/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="${base}/themes/ace/assets/js/jquery.cokie.min.js"></script>
<script type="text/javascript" src="${base}/themes/ace/assets/scripts/login.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        Login.init();
    });
</script>
</body>
</html>
